body {  
  display: flex;
  flex-direction: column;
  align-items: center;   
}

hr {
  background-color: black;
  width: 100%;  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: solid 1px black;
  border-radius: 1em;
  width: 31.25vw;
  margin: 1em;
  padding: 1em;
  padding-top: 1em;
}

.header {
  display: flex;
  justify-content: space-between;  
  width: 100%;
  padding-left: 10px;
}

.header img {
  width: 1.9em;
}

.header button {
  background-color: #1DA1F2;
  color: #ffffff;
  font: 1em bolder;
  border-radius: 1em;
  border: none;
  padding: 0 1em;
  width: 5.9em;
  height: 2em;    
}

.element1 {
  width: 5.9em;
}

form {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 0 1;  
}

.name,
.phone {  
  width: 100%;
  height: 2.6em;
  padding: 0.8em 0;
  border-radius: 0.5em;
}

.name input,
.phone input {  
  width: 100%;
  height: 100%;  
}

a {
  color: #1DA1F2;
  text-decoration: none;
  font-size: 1em;
}

p {
  color: #5B7083;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url('./src/images/backgrouund.jpg');
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: baseline;        
  }

  h2 {
    font-size: 1em;
  }

  .container {
    width: 80%;
  }

.name,
.phone {  
  width: 9em;
  height: 2em;
  padding: 0.8em 0;
  border-radius: 0.5em;
}


}


